policy_module(respubliqa, 1.100.1)

########################################
#
# Declarations
#

type respubliqa_t;
type respubliqa_exec_t;
init_daemon_domain(respubliqa_t, respubliqa_exec_t)

permissive respubliqa_t;

type respubliqa_initrc_exec_t;
init_script_file(respubliqa_initrc_exec_t)

type respubliqa_conf_t;
files_type(respubliqa_conf_t)

type respubliqa_var_lib_t;
files_type(respubliqa_var_lib_t)

type respubliqa_var_run_t;
files_type(respubliqa_var_run_t)

type respubliqa_port_t;
corenet_port(respubliqa_port_t)

########################################
#
# respubliqa local policy
#
allow respubliqa_t self:process { fork };

allow respubliqa_t self:fifo_file rw_fifo_file_perms;
allow respubliqa_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(respubliqa_t, respubliqa_conf_t, respubliqa_conf_t)
manage_files_pattern(respubliqa_t, respubliqa_conf_t, respubliqa_conf_t)

manage_dirs_pattern(respubliqa_t, respubliqa_var_lib_t, respubliqa_var_lib_t)
manage_files_pattern(respubliqa_t, respubliqa_var_lib_t, respubliqa_var_lib_t)
files_var_lib_filetrans(respubliqa_t, respubliqa_var_lib_t, { dir file })

manage_dirs_pattern(respubliqa_t, respubliqa_var_run_t, respubliqa_var_run_t)
manage_files_pattern(respubliqa_t, respubliqa_var_run_t, respubliqa_var_run_t)

sysnet_dns_name_resolve(respubliqa_t)
corenet_all_recvfrom_unlabeled(respubliqa_t)

allow respubliqa_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(respubliqa_t)
corenet_tcp_sendrecv_generic_node(respubliqa_t)
corenet_tcp_sendrecv_all_ports(respubliqa_t)
corenet_tcp_bind_generic_node(respubliqa_t)

gen_require(`
    type respubliqa_port_t;
')
allow respubliqa_t respubliqa_port_t:tcp_socket name_bind;

gen_require(`
    type respubliqa_port_t;
')
allow respubliqa_t respubliqa_port_t:tcp_socket name_connect;

domain_use_interactive_fds(respubliqa_t)

files_read_etc_files(respubliqa_t)

miscfiles_read_localization(respubliqa_t)

sysnet_dns_name_resolve(respubliqa_t)

allow respubliqa_t respubliqa_exec_t:file execute_no_trans;
allow respubliqa_t self:process setsched;
corecmd_exec_ls(respubliqa_t)
corenet_tcp_connect_http_port(respubliqa_t)
dev_read_urand(respubliqa_t)
fs_getattr_xattr_fs(respubliqa_t)
kernel_read_system_state(respubliqa_t)
