# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=ResPubliqa Core
Comment=ResPubliqa Core QT main network
GenericName=ResPubliqa Digital Currency QT client main network
Exec=respubliqa-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/respubliqa.png
MimeType=x-scheme-handler/respubliqa;
Categories=X-Office;X-Finance;
Keywords=internet;respubliqa;zpiv;piv;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_US]=respubliqa-qt.desktop
